# Flutter
**/build/
.dart_tool/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.metadata
firebase.json
**/google-services.json

# Android
android/.gradle/
android/local.properties
android/gradle-wrapper.jar

# iOS
ios/.generated/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

# Environnements de développement
.dist
.idea/
.vscode/
*.iml
*.swp
*.swo

# Fichiers temporaires
*.log
*.tmp
*.DS_Store